.container-tela2{
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
width:100%;
margin-bottom:100px;

}

div.container-tela2.escondido {
    display: none;
}

.container-tela2 .banner,
.container-tela2 .pergunta,
.container-tela2 .bloco-finalizacao {
    scroll-margin-top: 90px;
}

.container-tela2 .banner{
height: 142px;
width: 100vw;
background-size: cover;
opacity: 0.6;
display: flex;
justify-content: center;
align-items: center;
overflow-x: hidden;
}

.container-tela2 .banner::-webkit-scrollbar {
    display: none;
}


.container-tela2 .banner p{
color: #FFFFFF;
font-size: 19px;
}


.container-tela2  .bloco-perguntas{
margin-top:24px;
background-color: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width:375px;
height:436px; 
}

.container-tela2 .pergunta{
background-color: #434CA0;
color: #FFFFFF;
font-style: normal;
font-weight: bold;
line-height: 22px; 
display: flex;
align-items: center;
justify-content: center;
text-align: center;
Width: 340px;
Height: 89px;
word-break:break-all;
}

.container-tela2 .alternativas{
background-color: #FFFFFF;
margin-top: 13px;
Width: 340px;
height: 300px;
display: grid;
column-gap: 10px;
grid-template-columns: auto auto;
word-break:break-all;
}

.container-tela2 .alternativas p{
margin-top: 5px;
color: #000000;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 15px;
word-break:break-all;
}

.true{
    color: green;  
}

.false{
    color: red;
}

.esconder-resposta{
    color: #000000;  
}

.opacidade{
    opacity: 0.3;
    pointer-events: none;
}

.selecionada{
    pointer-events: none; 
}
    

.container-tela2 .alternativa-esquerda , .container-tela2 .alternativa-direita {
width: 163px;
display: grid;
grid-gap: 12px;
}

.imagem-pergunta{
width: 163px;
height: 113px;

cursor: pointer;
}

.container-tela2 .bloco-finalizacao {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 375px;
    height: 500px;
    margin-top:70px;
}
  
.container-tela2 .percentual-acerto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ec362d;
    width: 340px;
    height: 99px;
    color: #ffffff;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
}
  
.container-tela2 .imagem-finalizacao {
    width: 340px;
    height: 255px;
}
  
.container-tela2  .texto-finalizacao {
    display: flex;
    width: 340px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    flex-wrap:wrap;
    text-align: center;
    align-items: center;
    color: #484848;
    word-break:break-all;
}
  
.container-tela2  .botao-reiniciar {
    margin-top: 20px;
    border: none;
    width: 220.32px;
    height: 44px;
    width: 260.38px;
    height: 52px;
    background: #ec362d;
    border-radius: 15px;
    font-size: 18px;
    line-height: 21px;
    line-height: 21px;
    color: #fff5f4;
    cursor: pointer;    
}
  
.container-tela2 .voltar-home {
    margin-top: 16px;
    color: #818181;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
}
  


@media (min-width: 1100px) {

    .container-tela2 .bloco-perguntas{
    width:759px;
    height:676px; 
    }

    .container-tela2 .bloco-perguntas .pergunta{
    width: 688px;
    height: 138px;
    }

    .container-tela2 .alternativas{
    margin-top: 13px;
    Width: 688px;
    height: 454px;
    column-gap: 25px;
    
    }

    .container-tela2 span{
    font-size: 20px;
    }

    .container-tela2 .imagem-pergunta{
    width: 329.91px;
    height: 175.2px;
    }

    .container-tela2 .pergunta{
    font-size: 23px;
    justify-content: center;
    }

    .container-tela2 .bloco-finalizacao {
        width: 759px;
        height: 430px;
    }

    .container-tela2 .percentual-acerto {
        width: 727px;
        height: 99px;
        font-size: 23px;
        line-height: 27px;
    }

    .container-tela2 .bloco-finalizacao .divisao{
        display: flex;
        flex-direction: row;
        align-items: stretch;
       
    }

    .container-tela2 .imagem-finalizacao {
        width: 364px;
        height: 273px;
        margin-right: 15px;
    }

    .container-tela2  .botao-reiniciar {
        width: 260.38px;
        height: 52px;
        font-size: 21px;
        line-height: 25px;
        color: #fff5f4;
    }

    .container-tela2 .voltar-home {
        font-size: 21px;
    }

}



