div.container-tela1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;

    max-width: 100%;
}

div.container-tela1 section.sem-quizzes-do-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 340px;
    height: 181px;

    margin-top: 31px;

    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;
}

div.container-tela1 section.sem-quizzes-do-usuario a {
    width: 250px;

    margin-bottom: 20px;

    font-size: 20px;
    line-height: 23px;
    color: #B9B9B9;
    text-align: center;
}

div.container-tela1 section.sem-quizzes-do-usuario button {
    width: 151px;
    height: 40px;

    background: #FAFAFA;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;

    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
}

div.container-tela1 section.lista-de-quizzes {
    margin-top: 38px;
}

div.container-tela1 section.lista-de-quizzes h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

}

div.container-tela1 section.lista-de-quizzes article {
    position: relative;
    width: 340px;
    height: 181px;

    margin-top: 14px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
}

div.container-tela1 section.lista-de-quizzes article .sombra {
    position: absolute;  
    bottom: 0;
    z-index: 0;

    width: 340px;
    height: 181px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
}

div.container-tela1 section.lista-de-quizzes article img {
    width: 340px;
    height: 181px;
    border-radius: 5px;
}

div.container-tela1 section.lista-de-quizzes article a {
    position: absolute;  
    left: 19.5px;
    bottom: 7px;
    z-index: 0;

    width: 301px;

    text-align: center;

    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
}